.App {
  text-align: center;
  font-family: 'Antonio', sans-serif;
}


html {
  height: 100%;
  font-family: 'Antonio', sans-serif;
}
body {
  background-image: url("https://w0.peakpx.com/wallpaper/159/18/HD-wallpaper-conection-abstract-abstract-digital-black-digital-web.jpg");
  background-size:cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, .header.text-light, p{
  font-family: 'Antonio', sans-serif;
}